
<div className = 'header'>
  <h1>Tripper</h1>
  <p>Explore the world</p>
</div>

<a href="/addTrip" class= "addTrip" type="click"><button>Add a Trip</button></a>

<a href="/{{this.id}}"><button>Sort Trips by Rating</button></a>

<!-- Pass in data from tripper_db -->
<ul>
  {{#each trip}}
  	<li>
      <h3><span class="label">Destination:</span><span id='destination'>{{this.name}}</span></h3>
      <p>{{this.author}} <span class="label">Wrote:</span></p>
      <p><span class="label">Description:</span> {{this.summary}}</p>
      <p><span class="label">Rating:</span> {{this.rating}}</p>
  	</li>

      <div id="image">

      </div>
    

  {{/each}}
</ul>

