
<div className = 'header'>
  <h1>Tripper</h1>
  <p>Explore the world</p>
</div>

<button class= "addTrip" type="click">Add a Trip</button>

<button href="/{{this.id}}">Sort Trips by Rating</button>

<!-- Pass in data from tripper_db -->
<ul>
  {{#each trip}}
  	<li>
  	{{!-- <p><span class="label">ID:</span> {{this.id}}</p> --}}
      <h3><span class="label">Destination:</span> {{this.dest_name}}</span></h3>
      <p>{{this.posted_by}} <span class="label">Wrote:</span></p>
      <p><span class="label">Description:</span> {{this.dest_summary}}</p>
      <p><span class="label">Rating:</span> {{this.dest_rating}}</p>
  	</li>
  {{/each}}
</ul>


