<div class='header'>
  <div class='headtext'>
    <h1>Tripper</h1>
    <h2 id="sub-header">Explore the world</p>
  </div>
  <div id="nav-btns">
    <a href="/addTrip" class="addTrip" type="click"><button id="addTrip">Add a Trip</button></a>
  </div>
</div>



<!-- Pass in data from tripper_db -->
<ul class='cards'>
  {{#each trip}}
  <li>
    <h3><span class="label">Destination:  </span><span class='destination'>{{this.name}}</span></h3>
    <h4><span class="label">{{this.author}} Wrote:</span></h4>
    <p><span class="label">Description:</span> {{this.summary}}</p>
    <p><span class="label">Rating:</span> {{this.rating}}</p>
    <button class="delete" data-id="{{this.summary}}">Delete: {{this.name}}</button>
  </li>
  <div class="image"></div>
  {{/each}}
</ul>